@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #222222 !important;
}

body {
    background: white;
    overflow-x: hidden;
}


.background {
    @apply fixed top-0 left-0 bottom-0 w-full sm:w-1/2;
}

::-webkit-scrollbar:horizontal {
    height: 0;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}


::-webkit-scrollbar-thumb {
    @apply bg-[#E893CF]/80 backdrop-blur-sm hover:bg-[#E893CF];
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

textarea::-webkit-scrollbar {
    width: 0;
}

.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    text-transform: uppercase;
    font-size: 50px;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.parallax span {
    display: block;
    margin-right: 30px;
}

.toast {
    @apply tracking-wide rounded-full flex py-4 pr-1 items-center justify-center gap-x-3 backdrop-blur-md text-white;
}

.search-option-header {
    @apply w-full tracking-wide text-[#222222] py-2 font-medium text-lg flex items-center justify-between;
}

.search-option-body {
}

.chevron {
    @apply w-6 h-auto text-[#222222];
}

.s0 {
    fill: #fff8e5
}

.s1 {
    fill: none;
    stroke: #f0e6ca;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 53.8
}